*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  color: white;
}

#root {
  --stack-space: 4rem;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin-inline: auto;
  padding: 2rem;
  display: grid;
}

.main-header {
  place-self: center;
}